* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.p_container {
  max-width: 80%;
  margin-inline: auto;
}
.header {
  background: rgb(31, 52, 77);
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.content {
  margin-top: 2rem;
  max-width: 40%;
  line-height: 1.6;
}
.content > * {
  margin: 1rem 0;
}
